[2017-05-14 04:46] PrimordialHelios opened #1 "Automatically Download Install Scripts For Games"
It would be a great idea to download necessary install scripts for games that are downloaded through the client and then run the script afterwards. That would simplify installing games that have scripts available for them.

[2017-05-14 04:48] ghost commented on #1
Whoops, just noticed that's already an option. My bad!

[2017-05-14 04:48] #1 closed

[2017-05-15 03:00] mdeguzis opened #2 "proper setup.py?"
Is writing a proper setup.py on the road map?

[2017-05-16 00:20] yancharkin commented on #2
No. At least for now.
Maybe someday when/if the application is stable enough. (And when/if I learn how to do it properly :smile: )

[2017-05-17 16:50] #2 closed

[2017-07-02 18:13] yancharkin opened #3 "English grammar"
As you can see my English not that great. Help is welcome in correcting mistakes.

[2017-08-21 20:37] mateossh opened #4 "Application doesn't run on Arch"
When I tried to run application I saw python error:
`ImportError: No module named gi`

[2017-08-21 20:39] mateossh commented on #4
I had to install package called `python2-gobject`

[2017-08-22 21:13] yancharkin commented on #4
Looks like I missed '2' in package name. Thanks for the report. Fixed in README.

[2017-08-22 21:15] yancharkin commented on #4
Does it work for you now?

[2017-08-24 19:03] mateossh commented on #4
It looks fine right now. You can close issue

[2017-08-24 19:36] #4 closed

[2017-11-19 00:41] zilti opened #5 "Authorization always fails."
Like the title says: it always fails.

[2017-11-21 00:26] yancharkin commented on #5
Currently **Games Nebula** uses [lgogdownloader](https://github.com/Sude-/lgogdownloader). So if you have problems with authorization try to log in with **lgogdownloader** directly, maybe you need to enter security code or export cookies. **Games Nebula** can help you wIth exporting cookies: if you open **GOG.COM** tab and authorize there, cookies will be saved to **~/.config/lgogdownloader/cookie

[2017-11-24 11:00] yancharkin commented on #5
No comments in a few days, so I assume, this issue resolved. But to be clear, it's not a bug, it's a limitation that you have to deal with.

[2017-11-24 11:00] #5 closed

[2017-11-27 19:09] Gwend4l opened #7 ""No such file or directory" error on start"
On Fedora 27, after having installed all dependencies (`sudo dnf install xterm curl tar p7zip p7zip-plugins cabextract unshield megatools wine winetricks dosbox scummvm`), I encounter the following error when starting games nebula:
[code]

[2017-11-27 19:11] Ezwen commented on #7
Oh wait, I misread the README. I forgot to compile and install lgogdownloader. I'll try that!

If by any chance there could be more informative error messages, that could be a possible improvement :).

[2017-11-27 20:51] Ezwen commented on #7
I do not encounter this problem anymore with lgogdownloader installed, sorry for the report

[2017-11-27 20:51] #7 closed

[2017-11-28 13:26] dotevo opened #9 "Type of the game platform"
I know that in my library I have some games with native support and some only for Windows. It will be good if I will see that on my goglib list (like operating system icons).

[2017-11-28 13:29] dotevo opened #10 "Instalation type"
Some "native games" prepared by GOG use old Wine and it should be possible to choose how we want to install the game. (Native/Windows version). It will be nice if in the future app will contain some playonlinux features like a few Wine versions.

[2017-11-28 14:48] yancharkin commented on #10
There is no way to find automatically if "native" game is just a wine wrapper. But you can use install script or 'autosetup.ini' to let 'Games Nebula' know that it's a wrapper (check out 'two_worlds' in 'autosetup.ini').  And 'Games Nebula' already has feature you mention.

[2017-11-28 14:48] yancharkin commented on #9
I find this feature not very useful. Also there is games that use ScummVM and DOSBox and there is no way to find that before download. How to categorize them?

[2017-11-28 14:59] dotevo commented on #9
But you can check if the game is native or for windows. I'm right?

[2017-11-28 16:12] yancharkin commented on #9
Sort of. But that info provided by GOG, it's not very reliable. For example, according to GOG:
- 'Two Worlds' is a native Linux game, but it's a wine wrapper
-  'Albion' is a Windows game, but in fact it's not, it's a DOS game. To run it you have to use DOSBox and it doesn't matter if you using Windows, Linux, MacOS, Android or something else
- 'Flight of the Amazon Queen' uses ScummVM, so it can

[2017-11-29 10:12] Gwend4l opened #11 "Provide Flatpak/AppImage package?"
The process to install games_nebula is at the moment quite complex, especially since it requires lgogdownloader which is also hard to install.

Would you consider in the future to try to provide a Flatpak/AppImage version of games_nebula? This would reduce the packaging effort to a single format, which can then be used in any linux distro. Notably, such Flatpak/AppImage would include lgogdownloade

[2017-11-29 15:44] yancharkin commented on #11
'Games Nebula'  in its current state no more than a quick and dirty solution or a prototype at best. It has a lot of problems and certainly not ready for widespread use. Check out the [roadmap](https://github.com/yancharkin/games_nebula#roadmap). There is a lot of things to do before packaging. But if I ever reach that point I'll consider all popular package formats.

[2017-11-29 15:48] Ezwen commented on #11
OK, that's understandable :). Thanks for answering and good luck!

[2017-12-02 23:56] #9 closed

[2017-12-02 23:56] #10 closed

[2017-12-02 23:56] #11 closed

[2017-12-07 14:25] Ultraz46 opened #12 "Authorization failed help"
Problem in Rekaptcha tell me how to solve the problem ?
What to do in? .config/lgogdownloader/cookies.txt

[2017-12-07 18:30] yancharkin commented on #12
Open GOG.COM tab (in 'Games Nebula') and authorize there, cookies will be saved to ~/.config/lgogdownloader/cookies.txt Restart application. It should work now.

[2017-12-07 18:42] Ultraz46 commented on #12
Did not help error left OS Arch ((
![screenshot_69](https://user-images.githubusercontent.com/34344075/33732703-569a1a6a-db98-11e7-8d93-55f7013698aa.png)
![screenshot_70](https://user-images.githubusercontent.com/34344075/33732779-8ceec156-db98-11e7-947c-26193b23c2da.png)
![screenshot_65](https://user-images.githubusercontent.com/34344075/33732817-b0f21ec2-db98-11e7-8399-383a4ed8f0e8.png)

[2017-12-07 20:07] yancharkin commented on #12
Какая версия lgogdownloader?
У меня 3.2.8f55f3a и ошибка в подобной ситуации выглядит по-другому:
![lgogdownlaoder](https://user-images.githubusercontent.com/12972830/33736205-ca8dfa40-dba2-11e7-8d6a-0ddd5b65190a.png)
Описанный мной способ работает, только что проверил (и насколько помню работал и в версии 3.1).

[2017-12-07 22:23] Ultraz46 commented on #12
Версия 3.3-1 из AUR брал что уже только не делал не могу победить авторизацию ((

[2017-12-07 22:49] yancharkin commented on #12
Посмотрел коммиты lgogdownloader - он теперь по другому работает, надо разбираться, сейчас на это нет ни времени ни желания.
Можно попробовать в **games_nebula.py**  в строке 131 заменить **self.goglib_authorized = goglib_check_authorization.goglib_authorized()** на **self.goglib_authorized = True**
А лучше пока установить lgogdownloader 3.2, тогда должно работать по описанному выше способу.

[2017-12-07 23:06] Ultraz46 commented on #12
Где этот games_nebula.py искать подскажи ?

[2017-12-07 23:12] yancharkin commented on #12
В директории программы, там же где и start.sh

[2017-12-07 23:17] yancharkin commented on #12
Ещё забыл, если запустится надо нажать кнопку 'Обновить библиотеку' (вверху справа)

[2017-12-07 23:56] Ultraz46 commented on #12
Проделал эти манипуляции авторизация теперь проходит нормально (ну на деле нет) Библиотека GOG пустая обновление библиотеки не помогает.
В терминале по прежнему пишет:

Login form contains reCAPTCHA (https://www.google.com/recaptcha/)
Try to login later
HTTP: Login failed
Login form contains reCAPTCHA (https://www.google.com/recaptcha/)
Try to login later
HTTP: Login failed
Login form contains reC

[2017-12-08 00:37] yancharkin commented on #12
Тогда изменения лучше откатить.
Вообще это проблема [lgogdownloader](https://github.com/Sude-/lgogdownloader), если настроишь его автономно, то и в "Games Nebula' должнен работать. Можно попробовать авторизоваться с lgogdownloader напрямую: с разными  опциями --login-api --login-website, может в новой версии какие-то новые появились, в общем по-очереди попробовать все 'login' опции. Но тут я помоч

[2017-12-08 00:52] Ultraz46 commented on #12
Проблема еще в том что я не могу найти 3.2 версию что бы попробовать!

[2017-12-08 01:12] yancharkin commented on #12
Я крайне редко пользуюсь Arch'ем, но насколько я помнимаю, можно скачать PKGBUILD для lgogdownloader из AUR заменить **pkgver=3.3** на **pkgver=3.2**, собрать и установить пакет как обычно.

[2017-12-08 09:56] mwohlert opened #13 "Package for AUR"
Hi I added a package for the aur.
https://aur.archlinux.org/packages/games_nebula/

Maybe you want to add it to the README ;)

[2017-12-08 11:49] yancharkin commented on #12
Сегодня скомпилоровал свежий lgogdownloader из git, та же проблема, что и у тебя: не могу залогниться. И похоже способа обойти капчу как можно было в предыдущей версии - нет.
Написал разработчику, но не факт, что проблема будет решена быстро (или вообще будет решена). Так что пока я вижу один вариант - собирать более старую версию.

[2017-12-08 16:30] yancharkin commented on #13
Thanks! README updated.

[2017-12-08 18:39] Ultraz46 commented on #13
The same authorization error ((

[2017-12-08 18:59] mwohlert commented on #13
Yes sure. The script only installs games_nebula. Your package manager will install the dependencies and lgogdownloader will be installed with 3.3, with the broken Galaxy API Login. I commented to the package

[2017-12-08 19:05] mwohlert opened #14 "Restructure games_nebula.py"
Hi,

I really want to contribute to this project, but the games_nebula.py which is the main class I presume is so long and not structured very well.
Is there a possiblity for you to structure into diffrent files to keep the code inside individual files small?

I'm not a 100% pro with Python, but 5k Lines in one file is pretty hardcore ;)

[2017-12-08 19:37] yancharkin commented on #12
For those who didn't understand Russian: problem emerge if you're using lgogdownloader > 3.2. Looks like login in current versions is broken. To prevent this issue use lgogdownloader 3.2.

[2017-12-08 20:45] yancharkin commented on #14
I started this project as very simple script (few hundred lines) for downloading and installing games and it was OK to have only one file. Somehow I ended with what we have now. That  was unexpected for me as well :) I'd like to restructure code, it's even on the [roadmap](https://github.com/yancharkin/games_nebula#roadmap). But there is things that stops me:
First, I'm not a coder/programmer so i

[2017-12-08 21:21] mwohlert commented on #14
This project ist pretty impressive for you not being a coder.
I see your point in not wanting to invest more time and thats time, but I don't see GOG releasing Galaxy for Linux soon, since that has been the request since 2014 and it's not on their roadmap.
Regarding the API, I do not have any problem with writing a client consuming the api using python. I've done this in many languages already. Ev

[2017-12-08 21:49] yancharkin commented on #14
Well if you wish you can try :)
Another option I can suggest if you're comfortable with working with API: you can write a replacement for lgogdownloader and it certainly motivate me to work on this project more. This application / module should be able to login even if  login form contains reCAPTCHA or security code, it should have GUI and it should be able to list and download games. If you inter

[2017-12-09 11:50] Ultraz46 commented on #13
Add to AUR lgogdownloader version 3.2?

[2017-12-09 11:54] mwohlert commented on #13
When you are using arch you shoul be familiar with PKGBuilds, you can do it yourself if you want, but I won't because it does not seem necessary to me

[2017-12-09 12:38] yancharkin commented on #12
В чём проблема? По-моему установить lgogdownloader 3.2 в Archlinux не так сложно? Даже проще чем во многих других дистрибутивах. Я могу ошибаться в деталях (так как не пользуюсь Arch'ем), но процесс примерно такой:
1. скачать [lgogdownloader из AUR](https://aur.archlinux.org/cgit/aur.git/snapshot/lgogdownloader.tar.gz)
2. распаковать куда-нубудь
3. перейти в директорию куда распаковал архив
4. в *

[2017-12-13 15:34] ivanpu commented on #12
Проще - так как AUR использует git, то PKGBUILD для версии 3.2 можно взять здесь:
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=lgogdownloader&id=5651925bd86fdb8a4197c2476fb7a2440b657231

[2017-12-13 23:05] Ultraz46 commented on #12
Не как я не могу победить Небулу...
Собрал и установил lgogdownloader 3.2 но теперь не запускается вообще ((

[2017-12-13 23:20] yancharkin commented on #12
Что в терминале?

[2017-12-13 23:21] Ultraz46 commented on #12
![2017-12-14 02-20-15](https://user-images.githubusercontent.com/34344075/33967691-8e7055c6-e075-11e7-8b03-608db6a83566.png)

[2017-12-13 23:24] Ultraz46 commented on #12
Зато теперь работает авторизация
![2017-12-14 02-23-29](https://user-images.githubusercontent.com/34344075/33967753-da643d58-e075-11e7-9e09-1bb580258b60.png)

[2017-12-13 23:26] yancharkin commented on #12
xrandr что выдаёт?

[2017-12-13 23:31] Ultraz46 commented on #12
xrandr что то вообще не чего не выдает "команда не найдена" пишет!

[2017-12-13 23:44] yancharkin commented on #12
Я так понимаю установлен Wayland, не X11. Не знаю как "правильно" обойти эту проблему (может [XWayland](https://wiki.archlinux.org/index.php/Wayland_(%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9)#XWayland) может помочь?)

"Неправильно" - можно удалить или закомментировать 125 строку в **games_nebula.py:**
[code]
 и далее делать так во всех случаях, когда проблема возникает (смотреть нужный файл и ст

[2017-12-13 23:47] yancharkin commented on #12
Вообще по-идеи, установка пакета **xorg-server-xwayland** дожна помочь.

[2017-12-13 23:53] Ultraz46 commented on #12
Да вейланд у меня xorg-server-xwayland стоит пакет уже

[2017-12-13 23:58] yancharkin commented on #12
Тогда пока по первому варианту - удалять или комментировать строки. Потом посмотрю, как можно правильно сделать.

[2017-12-14 00:03] Ultraz46 commented on #12
закоментировал все осталась одна проблема такой строки нет...

                         ^
IndentationError: expected an indented block

[2017-12-14 00:08] Ultraz46 commented on #12
В общем после коментирования все ошибки пропали но не запускается процесс висит и все ((

[2017-12-14 00:08] yancharkin commented on #12
Не надо все строки из ошибки комментиповать, в данном случае только 125. В дальнейшим если будет подобная ошибка, комментировать строки в который используется **self.get_monitors()**

[2017-12-14 00:19] Ultraz46 commented on #12
Ну вот если одну ее коментирую все равно много ошибок вылазит
![2017-12-14 03-18-32](https://user-images.githubusercontent.com/34344075/33969312-9f287332-e07d-11e7-9765-54b4291663ce.png)

[2017-12-14 00:28] yancharkin commented on #12
Всё верно, но так долго комментировать придётся :) Откатывай изменения.
Проблема в том, что не установален xrandr. Я так понимаю, надо установить **xorg-xrandr**
Как раньше запускалось?

[2017-12-14 00:29] Ultraz46 commented on #12
Раньше стояла SwagArch а теперь Manjaro Gnome

[2017-12-14 00:31] Ultraz46 commented on #12
xorg-xrandr не хватало и правда ИЗИ все заработало спасибо ))

[2017-12-14 00:33] yancharkin commented on #12
Пожалуйста.

[2017-12-14 00:33] Ultraz46 commented on #12
Еще вопрос если пишет (Невозможно установить) значит не судьба? Так надеялся что гвинт заработает ((

[2017-12-14 00:38] yancharkin commented on #12
Нет Gwent не получиться. Он без Galaxy вообще не работает.

[2017-12-14 00:40] yancharkin commented on #12
Единственное, что можно попробовать - установить Galaxy в Wine. Но тут я ничем не могу помочь.

[2017-12-14 10:43] yancharkin commented on #12
**Summary:** it's a bug in the latest version of lgogdownloader.  Use lgogdownloader 3.2 for now.

[2017-12-14 10:43] #12 closed

[2017-12-18 21:50] jathanasiou opened #15 "Crashing on launch - python: No such file or directory"
I have installed nebula on Manjaro 4.14 kernel with **lgogdownloader v3.2.2** to avoid login issues, however I had the same behaviour occur with 3.3 as well.
Upon launching the `/opt/games_nebula/games_nebula.py` file with python2 or calling the `start.sh` script I get the below output and the program exits:

[code]
All of the [required and optional dependencies for Archlinux](https://github.com/y

[2017-12-18 22:07] yancharkin commented on #15
'Games Nebula'  use xrandr. You most likely using Wayland not X11, so xrandr not installed on your system. You have to install **xorg-xrandr** and (probably) **xorg-server-xwayland**  if it's not installed.

[2017-12-19 21:30] jathanasiou commented on #15
I'm running Cinnamon and I feel rather confident I'm on X.
![screenshot from 2017-12-19 23-29-20](https://user-images.githubusercontent.com/8679925/34179690-99ae625e-e514-11e7-8bb3-47dfbd32e5a5.png)

[2017-12-19 21:44] yancharkin commented on #15
Anyway you need **xrandr**, error indicates that it's not installed.

[2017-12-19 23:14] jathanasiou commented on #15
It appears that `xorg-xrandr` resolves the issue. If that is required however it probably needs to be added to the dependencies of the [AUR package](https://aur.archlinux.org/packages/games_nebula/), right?

[2017-12-19 23:29] yancharkin commented on #15
Looks like it. It's just strange. Usually xrandr installed automatically when using X11.
Also I'm not maintaining AUR package.

[2017-12-20 10:19] #15 closed

[2017-12-30 19:32] lorendias opened #16 "Screenshot"
Is this a GUI? Can we get a screenshot in README.md please, thanks :)

[2017-12-30 19:41] yancharkin commented on #16
Click 'Show / hide' to see screenshots.

[2017-12-30 21:00] lorendias commented on #16
Thank you, may I suggest having one screenshot and the Show / Hide below that to see more.

I noticed nebula has been mentioned as a gog galaxy alternative in comments on the Linus Tech Tips video and I think the visual communication of what it looks like is really important.

Thank You :)

[2017-12-30 21:43] yancharkin commented on #16
Is it that hard to click on the spoiler? :)

[2018-01-06 13:56] #16 closed

[2018-01-08 10:20] lorendias commented on #16
Sorry for the late reply, I have a lot going on.

Well, it took me 2 or 3 times and I missed it at a glance, until after this bug report I had never seen a screenshot of the application and I couldn't tell if it was a terminal app, so I figured I would communicate my situation in the hopes of increasing exposure for you and the project.

You may see it differently or disagree, either way good luck

[2018-01-25 17:32] gitdwarf opened #18 "only able to run as root"
wont run as USER, only as ROOT

As root, the script will run and prompts me for my gog login details

As user though - I get the following:
$ ./start.sh
Authorized on GOG
Traceback (most recent call last):
  File "<path to games nebula>/games_nebula_20171113/games_nebula.py", line 6931, in <module>
    sys.exit(main())
  File "<path to games nebula>/games_nebula_20171113/games_nebula.py", line 692

[2018-01-25 17:36] yancharkin commented on #18
You shouldn't run 'Games Nebula' as root. Where you put it? Do you have write permissions to that directory?

[2018-01-25 17:50] gitdwarf commented on #18
the location (and files) are fully user readable (and writable)
(has user as the owner too even)

[2018-01-25 17:51] yancharkin commented on #18
What distro are you using?

[2018-01-25 18:01] gitdwarf commented on #18
Slackware64 (variant)

[2018-01-25 18:03] yancharkin commented on #18
Try to comment or remove lines 282-284 in games_nebula.py

[2018-01-25 18:12] gitdwarf commented on #18
That seems to partially work
(though did you mean lines: 281-283?  284 is a blank line)

Now it does the following:
$ ./start.sh
Authorized on GOG
Getting game names (number) number / number
Getting game info number / number

And then seems to hang
A (non-interactable) black box appears (where the games-nebula 'eyes' would be), but nothing more than that

[2018-01-25 18:16] gitdwarf commented on #18
re-ran start.sh
now the "launching 'Games Nebula'" eye appears where the non-interactable black box was - but still hangs after showing

Authorized on GOG

in the console

[2018-01-25 18:47] yancharkin commented on #18
If you run in terminal:

    lgogdownloader --list-details
Does it works?
What version of lgogdownloader are you using? (versions > 3.2 may have problems)

[2018-01-25 19:10] gitdwarf commented on #18
lgogdownloader: version 3.3

works fine

should I try rolling back lgogdownloader to v3.2 and see if games nebula works then?

[2018-01-25 19:14] yancharkin commented on #18
Worth a try.

[2018-01-25 20:01] gitdwarf commented on #18
ok, that didnt help
with lgogdownloader 3.2
games nebula, instead of hanging after being authorized with gog
now it crashes - with this in the console

***snipped lots of repeats of the (games_nebula.py:23074): Gtk-CRITICAL **: gtk_container_remove: assertion 'gtk_widget_get_parent (widget) == GTK_WIDGET (container) || GTK_IS_ASSISTANT (container) || GTK_IS_ACTION_BAR (container)' failed***

(game

[2018-01-25 20:25] gitdwarf commented on #18
tested again with both lgogdownloader 3.2 and 3.3 (flushed config for both lgogdownloader and games nebula)
the above crash situation occurs with both versions

[2018-01-25 20:41] yancharkin commented on #18
What version of gtk3 you have on your system?

[2018-01-25 20:43] gitdwarf commented on #18
gtk1: 1.2.10
gtk2: 2.24.13
gtk3: 3.12.2

[2018-01-25 20:48] yancharkin commented on #18
gtk3 outdated, that the root of all problems. Update it. Also don't forget to revert changes made in 'games_nebula.py'.

[2018-02-05 17:41] yancharkin commented on #18
I assume the problem resolved or doesn't matter anymore. Closing the issue.
It's a mystery to me why @gitdwarf have to run 'Games Nebula' as root (there is no need for it). One thing is sure, you need more or less recent gtk3 to use the application.

[2018-02-05 17:41] #18 closed

[2018-02-17 19:19] Nagru opened #19 "Escape Credentials"
[code]

Heads-up that with this code, having certain special characters in the password (such as the brackets around this text) can cause a syntax error. I'd recommend wrapping the password variable in quotations for a quick fix or escaping special characters in passwords for a long-term fix.

[2018-02-17 19:40] yancharkin commented on #19
I'm working on a new authorization method. It should be ready soon. But thanks for the tip anyway.

[2018-02-17 19:43] Nagru commented on #19
Good to know. Thanks for the hard work!

[2018-02-17 19:43] #19 closed

[2018-04-10 21:06] Patola opened #21 "DLC support"
I just bought Dark West on GOG and downloaded it successfully using games_nebula.
However, I also bought its DLC "Scars of Freedom". I noticed it was not installed, and I tried to see if there was any way to install it via games_nebula. Couldn't find any.
Do you plan on having this feature? How would the GUI for it be?

[2018-04-10 22:48] yancharkin commented on #21
I'd like to implement proper dlc management, but the problem is I own only one game with dlcs (and it's a Windows-only game), so I can't do that.
But it shouldn't be too hard to write a script for a specific game that will handle dlcs installation.
I'll try to help you, but I need some info:
- is dlc present in download directory (by default: ~/.games_nebula/games/goglib/downloads/hard_west/dlc/ha

[2018-04-11 23:15] Patola commented on #21
I downloaded the dlc installer and ran it. It asked me for the hard west directory, which in my case is `/jogos/gog/hard_west`. It added the `game/Data_dlc1` under this directory after the gog installer execution. It also seems to have added a few files under `game/HardWest_Data`, namely these:

[code]
The list of files it added under `game/Data_dlc1` follows:

[code]

Sorry to take that long to r

[2018-04-11 23:19] Patola commented on #21
List of files of the auto-extracting shell script is attached:

[code]
[files.txt](https://github.com/yancharkin/games_nebula/files/1900789/files.txt)

[2018-04-11 23:21] yancharkin commented on #21
'Games Nebula' should download dlc automatically. Can you check if it's present in the download directory?

[2018-04-11 23:21] Patola commented on #21
Also, I just started playing this game, so I can afford uninstalling and reinstalling it and its DLC many times if you need to properly test whatever you code. I am also always using the latest code from github.

[2018-04-11 23:25] Patola commented on #21
It's not, neither under `~/.games_nebula/games/goglib` (recursively) nor `~/.games_nebula/games/mylib`. I had refreshed my library a few times before using the manual installer.

But I didn't turn on the 'download extras' option. Should I do that? Will it re-download every extra from every game after I check this option?

[2018-04-11 23:29] yancharkin commented on #21
You can try. If you turn it off after installing the game it will not affect other games.

[2018-04-11 23:59] yancharkin commented on #21
I have one game with dlc: 'Eador - Master of The Broken Work'. I tried to install it and 'Game Nebula' downloaded both main game and dlc (without enabling 'download extras'), so if dlc for 'Hard West' not present in **~/.games_nebula/games/goglib/downloads/hard_west/dlc/hard_west_scars_of_freedom** that means that GOG distribute it differently and it's make things harder.

I'll post setup script a

[2018-04-12 00:07] Patola commented on #21
Ok. I tried to remove it via games_nebula but when I clicked the "Remove" button I had this message on the terminal:
[code]

So I removed it manually with `rm -rf /jogos/gog/hard_west`. Quit games_nebula and launched it again.
Checked 'keep installers' and 'keep extras' to `on`.
It downloaded lots of stuff, including the dlc. It's now downloading the game, 8 minutes to go.

[2018-04-12 00:17] Patola commented on #21
dlc is `/jogos/download/hard_west/dlc/hard_west_scars_of_freedom/gog_hard_west_scars_of_freedom_dlc_2.3.0.4.sh`
It downloaded successfully. Also installed the game successfully, but did not install the DLC.
Note that for this particular game there are also a few 'extras' that appear on the dlc download directory:

[code]
What I mean is that if there is a routine to automatically install dlcs it sh

[2018-04-12 00:38] yancharkin commented on #21
Problem is that dlc is in extras... That isn't right.
I'll try to find a way to resolve this issue, but not today.

[2018-04-12 09:47] yancharkin commented on #21
First of all that's a strange error:
[code]
What distro and gtk3 version are you using?
For now you can comment or remove lines 152, 153, 174 and 175 in games_nebula.py to fix this issue.

[2018-04-12 09:47] yancharkin commented on #21
Looks like 'Keep installers' switch was off first time, right?  If so we don't know for sure that dlc wasn't downloaded during installation, because GN works this way:
- you click 'Install'
- GN download installer (if not exists in download directory)
- GN unpack installer to destination directory
- **GN execute 'setup' script for the game (if exists)**
- GN create additional file (start.sh and ot

[2018-04-12 10:01] yancharkin commented on #21
**For the next step doesn't matter what results you got in the above experiment, but dlc should present in the download directory:**
download [this archive](https://github.com/yancharkin/games_nebula/files/1902497/hard_west.zip) and unpack it to <GN_ROOT>/scripts/goglib/hard_west or to ~/.games_nebula/scripts/goglib/hard_west and try to reinstall the game.

[2018-04-12 16:27] Spiffyk opened #22 "Won't start on Ubuntu 17.10"
Games Nebula crashes on startup on my Ubuntu 17.10 with the following output. I tried the latest release as well as the latest `master` from git, both yield the same result.

[code]

[2018-04-12 16:49] yancharkin commented on #22
Looks like something changed in gtk3 (or in Ubuntu). Just comment or delete lines 152, 153, 174 and 175 in 'games_nebula.py'.

[2018-04-13 00:04] Patola commented on #22
I am using Ubuntu 17.10 and I have not needed to change anything for games_nebula to launch

[2018-04-13 00:26] Patola commented on #21
@yancharkin made exactly as you told. Removed hard west, set the options you asked, copied the setup file to the hard west directory, and not only it downloaded the DLC but it also automatically installed the DLC to the correct place. Woohoo!

[2018-04-13 08:31] yancharkin commented on #21
Excellent! Script added to  [goglib_scripts](https://github.com/yancharkin/games_nebula_goglib_scripts) and will be included in the next release. If you have any other games with dlcs you can write scripts for them using this script as example.

Also currently I'm working on a new module that will replace lgogdownloader and, hopefully, allow easier dlcs installation.

[2018-04-13 08:31] #21 closed

[2018-04-13 09:07] yancharkin commented on #22
@Patola That's because you are already authorized and @Spiffyk is not.

[2018-04-13 10:49] Yupy commented on #22
Same here (Linux Mint 18.3 Cinnamon), it wont start I get this error:

`Traceback (most recent call last):
  File "games_nebula.py", line 6593, in <module>
    sys.exit(main())
  File "games_nebula.py", line 6589, in main
    app = GUI()
  File "games_nebula.py", line 128, in __init__
    self.monitors_list, self.monitor_primary = monitors.get_monitors()
  File "/home/Yupy/Documente/Games-Nebula/m

[2018-04-13 10:55] yancharkin commented on #22
@Yupy It's not exactly the same, but I'm aware of this problem. I'll push changes to master and probably publish new release today. Please check and report later.

[2018-04-13 11:35] yancharkin commented on #22
@Spiffyk, @Yupy Issue should be fixed in master, please test.

[2018-04-13 11:50] yancharkin commented on #3
Resolving this issue is a piece of cake for a native speakers, but it stayed untouched for a long time, which mean either there is no major mistakes or there is no one willing to help. Anyway I'm closing it.

[2018-04-13 11:50] #3 closed

[2018-04-14 17:27] Yupy commented on #22
Thank you very much @yancharkin, I can confirm it works!
Thanks again.

[2018-04-24 12:49] yancharkin commented on #22
@Spiffyk I believe this issue now fixed. Report if you still have troubles launching app.

[2018-04-24 12:49] #22 closed

[2018-04-30 21:39] sgsaenger opened #23 "Problems with spaces in paths"
In various files, the path-strings are passed unescaped or unwrapped to the shell.
This breaks e.g. paths like `/data/GOG Games/`.

[2018-04-30 22:25] yancharkin commented on #23
Thanks for the report, I'll look into it.

[2018-05-01 08:59] sgsaenger commented on #23
Just poked around a bit, seems like you're using `os.system` for executing shell commands.
I guess this should be changed to using `subprocess.call`, where you don't have to construct the whole line as a string, but can supply the arguments as arguments from within python.
At least in a simple test this seems to take care of most problems I could think of.

[2018-05-01 09:02] sgsaenger opened #24 "local variable 'ini_file' referenced before assignment"
In `goglib_install_game` of `games_nebula.py`, you seem to expect some `*.ini` files to be present for all scummvm games.
At least for Riven, this file is not present and thus throws the `UnboundLocalError` from the title.

[2018-05-01 09:59] yancharkin commented on #23
There wasn't any particular reasons to use os.system and not subprocess.call, I just used first thing that came to my mind. So probably you are right and subprocess.call should be used instead of os.system. If you have time, you can make required changes and send PR. If not I'll fix this issue in a few days.

[2018-05-01 10:47] yancharkin commented on #24
It took me sometime to find out what's wrong. Looks like new format of GOG installers is a culprit. Can you extract Riven's installer and post the list of it's content here?

[2018-05-01 12:34] yancharkin commented on #24
Probably I was wrong, most likely Riven's installer use old format. If so, error emerge because some GOG installers have different internal structure. Configuration file (*.ini) present in all scummvm games that I own. It's relatively easy to fix this issue, but GOG started to publish new installers, which require different solution. Right now both old and new installers exists. Honestly, I'm not

[2018-05-01 15:17] sgsaenger commented on #24
Had to redownload it first, but here it is. Guess you're looking for `app/__support/app/rivensvm.ini`?

[code]

[2018-05-01 15:26] yancharkin commented on #24
Yes, that's a correct file. Are you using vanilla innoextract or [this fork](https://github.com/immi101/innoextract/tree/gogextract)?

[2018-05-01 15:30] sgsaenger commented on #24
Vanilla

[2018-05-01 21:28] yancharkin commented on #24
I believe the issue is fixed for old installers (as Riven's installer), report if not.
For new installers I have to find a new way to extract data.

[2018-05-04 09:08] F-TD5X opened #25 "Freezing at "Launching 'Games Nebula'""
First Time run terminal:
[code]

Second ... :
[code]

And both freezed at "Launching 'Games Nebula'"

[2018-05-04 09:27] yancharkin commented on #25
@F-TD5X Your distro?

[2018-05-04 13:09] yancharkin commented on #24
@sgsaenger Does it work for you now?

[2018-05-04 17:19] sgsaenger commented on #24
sorry it took a while, the installation works very well!
only the scummvm argument is wrong ('rivensvm' instead of just 'riven'), but this i can fix by hand for now.
will try to figure out a safer way to determine this.

[2018-05-04 18:58] yancharkin commented on #24
@sgsaenger  Now it should work fine. Please test.

[2018-05-04 19:29] sgsaenger commented on #24
it works! you're fast :)

[2018-05-04 19:34] yancharkin commented on #24
Great! Closing this issue.
Sadly for new installers I have to implement new solution (and I have some ideas), but that's a different issue.

[2018-05-04 19:34] #24 closed

[2018-05-05 07:16] josch opened #26 "Please consider adding support for beta channels"
In the GOG Galaxy client you can go to the game in your GOG Galaxy library --> More --> Settings. Then toggle BETA CHANNELS to ON. Now, Channel --> Add private channel and then insert a code to get access to playing a beta of a game. This is for example currently possible with Stardew Valley. It would be great if this was also possible with games nebula. Thanks! :-)

[2018-05-05 09:38] yancharkin commented on #26
Games Nebula is an unofficial client, I (obviously) don't have same possibilities as Galaxy's developers have. At the moment implementing this feature is absolutely impossible. Not because I don't want, but because I can't. It may change in the future, but I highly doubt it.

[2018-05-05 09:43] josch commented on #26
How did you figure out the existing part of the GOG API? I thought I could look into what the official GOG client does and see if I can find out how it does this "beta channel" stuff. But I guess you've already done a lot of this reverse engineering part so that I would not have to start from zero?

[2018-05-05 10:07] yancharkin commented on #26
In fact, it's not me who did reverse engineering. Current version of Games Nebula use mostly [lgogdownloader](https://github.com/Sude-/lgogdownloader) and a bit of [pygogapi](https://github.com/Yepoleb/pygogapi). At the moment I'm slowly working on a new version, which will use pygogapi only. Both projects have published some valuable info about GOG API. [Look here](https://gogapidocs.readthedocs.

[2018-05-05 10:08] josch commented on #26
Ah, I see. In that case, there's really nothing you can do about this issue as you have to wait for beta channel support in pygogapi. Thanks for the pointers!

[2018-05-05 10:12] yancharkin commented on #26
You are welcome :)

[2018-05-05 11:58] yancharkin commented on #23
@sgsaenger I see you forked the repo.
I fixed the issue in games_nebula.py, so if you're planning to work on this issue you can skip this file.

[2018-05-06 12:18] yancharkin commented on #23
@sgsaenger The issue should be fixed now. You can test and report the result.

[2018-05-06 13:31] sgsaenger commented on #23
Not quite, both launching and moving the library when changing the install-directory fail, still.

[2018-05-06 13:34] yancharkin opened #27 "Upcoming new version (alpha). Discussion."
I started re-writing app from scratch: [alpha branch](https://github.com/yancharkin/games_nebula/tree/alpha). My goal is to make code better structured and easier to maintain.

Roadmap:
- write basic GOG client, which can list, download, install and launch native games (WIP)
- implement the rest of the **useful** features current version has
- add new features (if needed)

New version will **not**

[2018-05-06 13:34] sgsaenger commented on #23
Seems fixed, indeed! Could move the library and launch games, at least.

[2018-05-06 13:42] yancharkin commented on #14
I started re-writing app from scratch. [More info here](https://github.com/yancharkin/games_nebula/issues/27).

[2018-05-06 13:42] #14 closed

[2018-05-06 13:49] yancharkin commented on #23
Closing this issue for now. Report here if you'll encounter similar problems.

[2018-05-06 13:49] #23 closed

[2018-05-06 13:55] yancharkin commented on #25
@F-TD5X and gtk3 version?

[2018-05-06 18:44] Sude- opened #28 "Possible issue with using numerical option values for lgogdownloader"
Games Nebula is currently using numerical option values for lgogdownloader's include, exclude, language and platform options.
I'm planning on dropping cover download support from lgogdownloader and changing some of the numerical values for options in the process which could cause issues for Games Nebula.
Games Nebula should use string values for those options. Especially for include and exclude op

[2018-05-06 19:02] yancharkin commented on #28
@Sude- Thanks for letting me know; I'll make at least one new release (probably much more), before switching to new version, so it's important info.

[2018-05-13 10:00] F-TD5X commented on #25
@yancharkin
Sorry for delay.
Archlinux and gtk3 3.22.30

[2018-05-13 10:28] yancharkin commented on #25
Are you using AUR package or install everything yourself?
Make sure all dependencies installed and lgogdownloader works as standalone app (for example, try lgogdownloader --list).

[2018-05-13 10:46] yancharkin commented on #25
@F-TD5X In particular, make sure python3-pytz and python3-requests (or python2-pytz and python2-requests, depends on you python version) installed.

[2018-05-13 12:32] #28 closed

[2018-05-13 12:37] yancharkin commented on #26
@josch Closing this issue for now. Feel free to contact me if you'll find a way to implement this feature.

[2018-05-13 12:37] #26 closed

[2018-05-18 11:40] F-TD5X commented on #25
I'm surely they are installed, but this problem still happened.
I can see the launching logo, but nothing after it.

[2018-05-18 11:48] yancharkin commented on #25
@F-TD5X Are you using AUR package or not?

What's the output of:

    lgogdownloader --list

[2018-05-18 12:02] yancharkin commented on #25
@F-TD5X After looking closely, I saw:

    (pygogauth.py:29651): GLib-GIO-CRITICAL **: 16:59:09.710: g_dbus_proxy_new: assertion 'G_IS_DBUS_CONNECTION (connection)' failed

Looks like you have some issues with dbus.

After quick googling I can suggest you to look for solution here:
https://wiki.archlinux.org/index.php/D-Bus
https://bbs.archlinux.org/viewtopic.php?id=224640

[2018-05-20 10:54] yancharkin commented on #25
@F-TD5X Make sure you have read all my previous messages and provide all information I asked for. Also (cause you replying not very often) I'd like to ask in advance: what DM, DE and/or WM are you using?

[2018-05-20 17:11] freddiaN opened #29 "Instant crash on startup"
first off:
  OS: Arch Linux (not using the AUR package)
  GTK3 Version: 3.22.30

when I try and launch the program, I can see some sort of splash/loading image for a split second, and then get this traceback:
[code]
going by the stacktrace, I'm guessing it has something to do with finding the primary monitor (I run a 2 monitor setup).

[2018-05-21 00:41] yancharkin commented on #29
This bug is fixed in master. You can download master or replace:

      if re.compile(r'\b({0})\b'.format('connected'), flags=re.IGNORECASE).search(line):
to

    if re.compile(r'\b({0})\b'.format('connected'), flags=re.IGNORECASE).search(str(line)):

in "/home/jonas/Downloads/games_nebula/modules/monitors.py", line 45

[2018-05-21 16:02] rehtlaw commented on #29
OK, I replaced the montiors.py file which fixed the issue. I found out that I still needed to install everything from the AUR (aka htmlcxx and lgogdownloader), but after that, it launches fine. Thanks :)

[2018-05-21 23:31] #29 closed

[2018-05-25 04:50] F-TD5X commented on #25
I am using aur package. i3wm.

`lgogdownloader --list`  showed
[code]

[2018-05-25 11:10] yancharkin commented on #25
This is the problem:

Current version of GN for most features use [lgogdownloader](https://github.com/Sude-/lgogdownloader). Try to remove files from ~/.config/lgogdownloader and use lgogdownloader directly. If it doesn't work properly then there is nothing can be done and this issue have nothing to do with GN (except for not showing error message) - it's a problem with lgogdownloader.

[2018-05-30 20:59] yancharkin commented on #25
@F-TD5X Have you had a chance to try my latest suggestion?
I almost sure this is not a GN issue, most likely something wrong with your lgogdownloader installation, network or distro configuration (maybe try some other disro in VM?), but I'd like to be sure, because I'm planing to make a new release soon (much needed bugfixes).

[2018-06-02 11:42] Lrss opened #30 "Won't authorize if install path contains spaces"
Not a huge issue, but still worth noting.

[2018-06-02 12:15] yancharkin commented on #30
@Lrss Are you using latest release or master?

[2018-06-02 21:05] Lrss commented on #30
Latest release: games_nebula_20180424
on fresh Ubuntu 18.04 installation, unpacked to /opt/games nebula/ and complained during the gog authorization process, but worked fine when renamed to /opt/games-nebula/

[2018-06-02 21:27] yancharkin commented on #30
I think this issue fixed in master. You can try it.
Or you can replace

    os.system(sys.executable + ' ' + nebula_dir + '/pygogauth.py')
to

    subprocess.call([sys.executable, nebula_dir + '/pygogauth.py'])

on line 240 in games_nebula.py

[2018-06-04 10:56] yancharkin commented on #25
@F-TD5X Is it that hard to reply? "I didn't had a chance to try it", will suffice.

[2018-06-05 06:23] F-TD5X commented on #25
I have did something wrong on my system and I have to restore it.
And at now I suffered another issue.
I am sorry, but I can't reply you anything till I meet this issue again.
Maybe this issue can be closed.

[2018-06-11 11:40] yancharkin commented on #30
@Lrss This issue is fixed in the latest release. Also from now on it's recommended to use master (until stated otherwise).

[2018-06-11 11:40] #30 closed

[2018-06-12 11:45] kusochi opened #31 "Unable to download games"
**System:**
 - Distro: Debian Sid (kernel 4.16.0)
 - gtk3 version: 3.22.30
 - python version: 3.6.5
 - lgogdownloader version: 3.3
 - DE or WM: AwesomeWM
 - DM: None (startx)

**Bug description**
Trying to download any game from the GOG Library does add the game to the download queue, but the download doesn't progress at all. It gives the following output:

[code]

**Steps to reproduce the behavio

[2018-06-12 12:25] yancharkin commented on #31
Open ~/.games_nebula/config/config.ini, it has section called 'gog languages', if languages names started with capital letters just remove this section, if not - let me know I'll try to fix this issue another way.

[2018-06-12 12:35] yancharkin commented on #31
My previous comment most likely not useful :)
I pushed fix (hopefully) to master, try it.

[2018-06-12 19:55] murtoM commented on #31
Pulled the master and downloading works now! Thank you for your work (:

[2018-06-12 19:55] #31 closed

[2018-07-05 10:30] klmmmv opened #32 "Can't install Gwent"
**System:**
 - Distro: Debian Testing
 - python version: 2.7
 - lgogdownloader version: 3.3
 - DE or WM: GNOME
 - DM: gd3

**Bug description**
[code]

**Steps to reproduce the behavior**
- Install games nebula
- Click "install" of any game

**Additional Infor**
Tested Windows games: Gwent Card Game, Tyrian 2000
Didn't have other Windows games

[2018-07-05 11:10] yancharkin commented on #32
Thanks for report.
Gwent can't be installed (and played) without Galaxy client.
Until recently Games Nebula showed warning message about it, but GOG added "offline installer" for the game (which in fact is not a real Gwent installer, try to run in wine), which broke this feature. On the other hand, now Gwent can be installed (probably), which wasn't possible before. I'll try to write a script for

[2018-07-05 11:44] yancharkin commented on #32
Also the error you have indicates that you have some other issues. Are you sure innoextract (or wine + innounp.exe) installed?

[2018-07-05 13:38] klmmmv commented on #32
I have innoextract installed, version 1.6. Thanks for the comments.

[2018-07-05 13:48] yancharkin commented on #32
It's strange that '/home/valentin/.games_nebula/games/goglib/installed/gwent_the_witcher_card_game/game/' doesn't exists. Try to use latest [innoextract release](https://github.com/dscharrer/innoextract/releases/tag/1.7):
- download innoextract-1.7-linux.tar.xz (it's binary release, no need to compile it)
- extract it
- copy innoextract binary from "<extracted_dir>/bin/<yours_cpu_architecture>/inn

[2018-07-05 14:55] klmmmv commented on #32
I did that.
Same errors again.
I only tried "tyrian 2000", as Gwent isn't able to be installed so far if I understand you correctly.
Additional information:
my ~/.games_nebula/games/goglib/downloads directory now contains the directory for tyrian2000 with the downloaded setup.exe for the game. But in the ~/.games_nebula/games/goglib/installed directory, I only have an empty tyrian2000 directory:

[2018-07-05 15:05] yancharkin commented on #32
Yes, Gwent can't be installed at the moment, I'm working on it.
Is there anything else in "/home/valentin/Programs/games_nebula/bin/" directory?

[2018-07-05 15:13] klmmmv commented on #32
Only ``innounp.exe`` besides an exectuable script ``innoextract``.
Thanks for the effort.

[2018-07-05 15:14] yancharkin commented on #32
Try to remove innounp.exe

[2018-07-05 15:23] klmmmv commented on #32
Tyrian 2000 works now :+1:
Thanks for the help.

[2018-07-05 15:33] yancharkin commented on #32
That's great. I'll fix setup script: automatic innounp.exe download isn't such a great idea :)
Also I'm writing install script for Gwent right now, so let this issues stay open.

[2018-07-05 17:31] yancharkin commented on #32
@klmmmv Here is script for Gwent: [gwent_the_witcher_card_game.zip](https://github.com/yancharkin/games_nebula/files/2167547/gwent_the_witcher_card_game.zip)
Unpack and put directory from archive either to ''/home/valentin/Programs/games_nebula/scripts/goglib/' or to "/home/valentin/.games_nebula/scripts/goglib/"
Using this script and **latest wine-staging (3.11)** I have successfully download, in

[2018-07-05 17:33] yancharkin commented on #32
Also you have to check 'Use own wine prefix' in launcher.

[2018-07-09 21:41] tainium opened #33 "Unable to "authorize" (login) to gog.com via Nebula interface"
**System:**
 - Distro: Mint 19 - fresh install, and fresh install of Nebula
**Bug description**
Unable to "authorize" (login) to gog.com via Nebula interface
**Steps to reproduce the behavior**
Install dependencies > Install Neblua > launch Nebula > Authorize

I tried to also disable 2FA on gog.com but I still can't login via Nebula.  I use the correct password and it just never lets me login.  Ho

[2018-07-09 21:44] 0xjon0 commented on #33
Also a suggestion: I don't see any indication that a file is being downloaded when I right-click>SaveLinkAs.  The file does download, but it is a bit mysterious and you have to go look in your filesystem to see.

[2018-07-09 22:35] yancharkin commented on #33
In the current version of Games Nebula authorization implemented in a very hacky way. For the most features Games Nebula uses lgogdownloader, try to authorize using it directly:

    lgogdownloader --login

**What version of lgogdownloader are you using?**

GOG.COM tab not meant for downloading games, it's something like STORE page in Steam client. Not disabled context menu is a bug not a feature

[2018-07-13 18:04] yancharkin commented on #32
This script works (sort of), so I added it to scripts repository.

[2018-07-13 18:04] #32 closed

[2018-07-15 20:43] klmmmv commented on #32
Thanks. It works for me now. No visual bugs.

[2018-07-16 11:21] yancharkin commented on #33
@tainium ?

[2018-07-22 01:11] Fisto69 commented on #33
so i had this problem after just setting up the program, after solving it Nebula began to imemdiately crash upon opening.

running it in terminal gives me this information.

[joshua@JALPC ~]$ games_nebula
Authorized on GOG
Traceback (most recent call last):
  File "/opt/games_nebula/games_nebula.py", line 6747, in <module>
    sys.exit(main())
  File "/opt/games_nebula/games_nebula.py", line 6743,

[2018-07-22 10:49] yancharkin commented on #33
@Fisto69
1. You had the same problem as @tainium? How did you solve it?
2. Did you run **setup.sh** script? If you don't have write permissions on **/opt/game_nebula**, you have to run it as root **OR** change permissions **OR** put **games_nebula** somewhere else..

[2018-07-23 00:12] Fisto69 commented on #33
no, i didnt run setup.sh or anything,  i simply installed from the AUR.

and when the authorize prompt didn't work i ran the command as you stated above "lgogdownloader --login" to login.

now Nebula simply wont run, it pops open the splash screen for a few seconds than the program kills itself.

and i cant change the program permissions because all the options are greyed out.    ill try moving it

[2018-07-23 00:38] yancharkin commented on #33
@Fisto69 As you know (you read README before reporting the issue, right?), package in AUR is unofficial, it's maintained by a different person, I can't guarantee that it work. Also 'Games Nebula' in a prototype stage, I never promoted it as ready to use software and never published it outside Github.

[2018-07-23 00:56] Fisto69 commented on #33
ah well, thats that than i guess.

i just would've thought there would be ways to request a takedown of your software someone else is uploading if its not actually working since it reflects poorly on you.

thanks for the help anyway.  hopefully it gets fixed/working soon.

[2018-07-23 14:42] yancharkin commented on #13
@mwohlert Using code from "releases" for AUR package never was the best option and now when I'm no longer planning to make them, you should build package using code from master branch (and it makes maintaining it much easier). Also doesn't looks like latest package works well, some users miss message that they have to run setup.sh (issue #33).

I made some change in setup.sh and modified your AUR

[2018-07-23 17:10] yancharkin commented on #33
@Fisto69 Actually, if you're installing package from AUR, there is a message that you have to run setup.sh :0 But anyway there is a number of issues with AUR package, I reported to maintainer. You have a few options: you can wait when maintainer will update the package, you can install app using official instruction in README or you can download this archive: [games_nebula-git.tar.gz](https://gith

[2018-08-02 21:29] yancharkin commented on #33
**Summary:**
- make sure that you have run 'setup.sh'. If there is no 'gogapi' directory in app root, then you didn't do it or something went wrong
- if GN still works incorrectly, make sure lgogdownloader installed and works properly, you can do this by executing lgogdownloader command in terminal

[2018-08-02 21:29] #33 closed

[2018-09-18 21:33] pinturic opened #34 "Mint installation"
On mint I received the following error upon launching:

[code]

To solve it I had to add the gir1.2-webkit2-4.0 package with the following command:

[code]

---

**System:**
 - Distro: [Mint]
 - gtk3 version: [ 3.18.9]
 - python version [2.7]
 - lgogdownloader version [2.26]
 - innoextract version [1.5]
 - DE or WM [mate]

[2018-09-18 23:24] yancharkin commented on #34
Thanks for the report, I'll add this info to the README. Does app work fine now?

[2018-09-19 21:12] pinturic commented on #34
Like a charm!!!

[2018-09-20 08:39] yancharkin commented on #34
Great!
README updated.

[2018-09-20 08:39] #34 closed

[2018-10-22 16:35] michaelothing opened #35 "Doesn't start, nothing happens."
**ATTENTION!** *Installation instruction in README is the only supported way of GN installation, I do not provide any distro-specific packages. If you installed the application using another way (AUR for example), try re-install using instruction before reporting a bug!*

---

**System:**
 - Distro: Antergos, Arch Based
 - gtk3 version: 3.24
 - python version: 3.7
 - lgogdownloader version 3.4
 -

[2018-10-22 18:41] yancharkin commented on #35
You can run it from command line by executing

    start.sh
or

    python games_nebula.py
in application root directory.

Also you can try package from here: https://github.com/yancharkin/games_nebula/issues/13#issuecomment-407082461

[2018-10-22 19:13] michaelothing commented on #35
This is what happens when I try to start with the python command.
[code]
I did notice when installing the dependencies the package python3-pytz says it does not exist.

[2018-10-22 19:42] michaelothing commented on #35
This is what happens when I try to start with the python command.
[code]
I did notice when installing the dependencies the package python3-pytz says it does not exist.

[2018-10-22 19:50] michaelothing commented on #35
Uhm there is no uninstall script. How can I uninstall the main version in order to install the git version that I made? Sorry if this is a dumb question. I selected make a launcher, so now there is already an icon and that is what tries to open I think after install the one you linked.

[2018-10-22 21:43] yancharkin commented on #35
Just remove **~/.local/share/applications/games_nebula.desktop** using your file manager or by executing:

    rm ~/.local/share/applications/games_nebula.desktop

[2018-10-22 21:54] yancharkin commented on #35
I'm not using Archlinux, but looks like **python3-pytz** now called **python-pytz**.
As for error, you have to install **python-pillow** package.

[2018-10-23 00:15] michaelothing commented on #35
I installed via the pkguild, but, I suspect that the python-pillow dependency was the cause of my headache. It now starts correctly. I wonder why it didn't install before. I copy pasted the code into terminal. Oh well.

[2018-10-23 00:15] #35 closed

[2018-10-24 00:36] pan-mroku opened #36 "Array out of bounds in goglib_get_banner.py"
**System:**
 - Distro: Archlinux
 - gtk3 version: 3.24
 - python version: 3.7.1
 - lgogdownloader version: 3.4
 - innoextract version: 1.7
 - DE or WM: fluxbox
 - DM: nodm

**Bug description**
It seems that the page layout with games' banners has changed. I got exceptions in line 29 of goglib_get_banner.py:
`raw_data[0]['content']`

**Steps to reproduce the behavior**
1. Remove existing banners in

[2018-10-24 09:46] #36 closed

[2018-11-16 23:16] andrewschott opened #38 "Crash on launch"
I did a git clone on the repository and the installation goes well (or so it appears, no errors).

But when running the start.sh script the code chunk below occurs.  Any tips on getting past this?  I did try modifying the script to force python2 & 3 to see if that may have been the issue.  No luck there.

Thanks

    app = GUI()

    self.create_main_window()

    self.create_goglib_tab_content('a

[2018-11-17 08:52] yancharkin commented on #38
Looks like GN fails to download an image for some game. Add:

    print(game_name)

to "/home/andrew/Applications/GamesNebula/games_nebula/modules/goglib_get_banner", line 22
After that, when running the start.sh script you should see the game's name right before the error. Tell me that name and I'll try to fix this issue.

As a temporary solution you can try to replace:

    banner_url = raw_data

[2018-12-11 05:40] yancharkin commented on #38
@andrewschott Is it still an issue?

[2018-12-28 22:37] tkaczz opened #39 "Consider co-working with lutris/pol project"
Just very much recently lutris (0.5 beta) project added support for gog platform. Maybe co-working with that project could get more benefit than splitting efforts.

I'm not a developer of that project, just linux enthusiast.

https://www.gamingonlinux.com/articles/the-first-beta-for-lutris-05-is-out-with-a-refreshed-ui-and-gog-support.13240

[2018-12-29 06:43] yancharkin commented on #39
I know about lutris project. Maybe I'll contribute to it at some point.

[2019-01-02 07:39] #39 closed

[2019-01-23 18:00] gtxe commented on #38
Hello,
I'm new to bugreporting: is it possible to reopen the issue?
After adding `print(game_name)` the name was visible: for me it was `fatal_fury_special`
Then I created a dummy image-file: "/opt/games_nebula-master/images/goglib/fatal_fury_special.jpg"
New start: next game-name with missing image appears.
I tryed the temporary solution as you discribed.

Here is the new output:

final_doom_game

[2019-01-23 20:42] yancharkin commented on #38
@gtxe Thanks for the report. I'll take a look a bit later. Check in a day, maybe two.

[2019-01-24 07:39] TSedlar commented on #38
Just commenting to note that I get the same error.

EDIT:

After doing your proposed changes, I get the following error:

[code]

I included `print(repr(raw_data))` right after the initialization of the raw_data object, and get the following data:

[code]

I can confirm that this lets me launch the program:

[code]

As a temporary WIP fix, where banner_url is initialized.

[2019-01-24 16:49] yancharkin commented on #38
@TSedlar I implemented something similar to your fix.
@gtxe @TSedlar Hopefully now the issue fixed.
Here is repository for images: https://github.com/yancharkin/games_nebula_goglib_images You can add missing images yourself and then send me PR (if you like).

[2019-01-24 19:35] gtxe commented on #38
The fix of TSedlar works, now there are black "placeholder"-images, as expected.

[2019-01-24 20:01] yancharkin commented on #38
@gtxe Can you test my implementation? It's already in master branch.

[2019-01-25 02:52] TSedlar commented on #38
@yancharkin I've ran it from master and it works!

[2019-01-25 07:24] yancharkin commented on #38
@TSedlar Great! I'll try to improve my implementation and report later.

[2019-01-26 20:23] andrewschott commented on #38
Sorry I have been out of town and then got ill upon return.  Yay winter bugs!

Anyway, I just had an opportunity to repull and retry.  Things are now working as they should for the most part.  Thanks to whomever made the commit that fixed things.   The one issue that I do have, which is not a literal game breaker, is alot of the images are just generic GOG.COM images or a black image with text ove

[2019-01-27 12:02] gtxe commented on #38
The new master branch is working good, many thanks.

Some missing images I borrowed from GOG.
They have lower resolution (256x117 and not 518x240), but better then no pictures.
I am not familiar with git and do not know how to add files to a repository.
So I uploaded them here: [link to some missing images](https://mega.nz/#F!j5FAHSjY!4TFPeF0hsW6zUaETDSJs0g)
You can add the files to your repo, if

[2019-01-28 10:18] yancharkin commented on #38
@andrewschott @gtxe Glad to hear that now it works for you.
@gtxe Thanks for the images.

When I have a chance, I'll try to implement better scraper.

[2019-01-28 21:39] yancharkin commented on #38
@gtxe Instruction how to get high resolution image:
1. Open game page (for example https://www.gog.com/game/doom_ii_final_doom)
2. Open inspector (Firefox: Ctrl+Shift+C, Chrome: Ctrl+Shift+I)
3. Search (Ctrl+F) for "picture", first founded tag should be the right one.
4. From any "source" tag inside "picture" tag copy value of "srcset" attribute (right mouse button / Edit as HTML). In case of "doo

[2019-01-29 15:46] gtxe commented on #38
It works for games that are still available in the store.

But for games that are not in the store (not anymore), I found another way:
- open the library in gog
- right click on the picture of a game
- copy link of the image
  for example Interstate 76 NitroPak [https://images-3.gog.com/e1ad4255dd131400efe422579599df4206ad387f485580e0029b467d3ac372ce_196.jpg](https://images-3.gog.com/e1ad4255dd131

[2019-01-29 20:02] yancharkin commented on #38
@gtxe Thanks for the info. Definitely, there is a "proper" way to get those images. When I have some free time, I'll try to find it.

[2019-01-29 20:44] TSedlar commented on #38
@yancharkin I just looked into it a bit and I believe the best way to go about it would be this:

Parse the game ID list: https://gogapidocs.readthedocs.io/en/latest/gameslist.html

Probably fuzzy-find the game ID you're looking for, then use the GOG API (doesn't require a key for what we're trying to do)

Example ID using divinity original sin enhanced edition: 1445516929

And use the API: http:/

[2019-01-29 21:10] TSedlar commented on #38
Another way to get the game IDs you own (if you're logged in, not sure if this is already supported in the API currently, I haven't had an in-depth look)

If you are not logged in, it redirects to: https://embed.gog.com/##openlogin

is to just read this URL: https://embed.gog.com/user/data/games

for me, the output is:

[code]

[2019-01-29 22:29] TSedlar commented on #38
I've made a [pyfiddle script](https://pyfiddle.io/fiddle/8e5994a3-10df-4d5c-b805-96e169c5010a/?i=true) that parses the game ID list.

It parses the game id list documentation: https://gogapidocs.readthedocs.io/en/latest/_sources/gameslist.rst.txt

And uses the above listed API.

It does not solve the issue of a game being removed, though. As they are removed from that listing. The embeded game API

[2019-01-29 23:28] TSedlar commented on #38
The above game listing does not actually have every game (RiME was not listed), but I figured out the correct way to do this by using the [list search api](https://gogapidocs.readthedocs.io/en/latest/listing.html)

And fuzzy finding using [fuzzywuzzy](https://github.com/seatgeek/fuzzywuzzy) to find the most accurate matching slug.

I've made a PR with the fixes in #40, but the README will need to

[2019-01-30 19:54] yancharkin commented on #38
@TSedlar Thanks for your efforts, but I think there is a better way to fix this issue. You reminded me about Yepoleb's GOG API implementation, which I already use for authorization. It works reliably and doesn't add new dependencies. Could you please test and compare my solution with yours: https://github.com/yancharkin/games_nebula/tree/get_img_with_gogapi

[2019-01-30 20:10] TSedlar commented on #38
@yancharkin My solution does work without it, the slugs should always be the same if you're pulling owned games from the API (same as the store URL), and it can be removed.

Your solution does work for me, but I do not know about games not in the store.

@gtxe will have to chime in for that.

I find it a bit weird that some images do not exist in the .games_nebula folder

![image](https://user-ima

[2019-01-30 20:31] yancharkin commented on #38
@TSedlar

Yes, setup script download images from this repository to the application root directory, images downloaded to the .games_nebula directory only if they are missing in that location.

[2019-01-30 20:36] TSedlar commented on #38
@yancharkin ahh gotcha well it all works as expected then :+1:

[2019-01-30 20:37] yancharkin commented on #38
@TSedlar

Just tested on 'Planescape: Torment' (not 'Enhanced Edition'), works fine.

[2019-01-30 21:04] gtxe commented on #38
@yancharkin: works great, no missing images  :+1:
Thank you very much

[2019-01-30 21:38] yancharkin commented on #38
@andrewschott Could you please test code from this branch: https://github.com/yancharkin/games_nebula/tree/get_img_with_gogapi

[2019-01-30 22:55] andrewschott commented on #38
I am still having the issue.  I deleted and repulled too to see if there was something I jacked up, but nope.
![screenshot from 2019-01-30 16-53-47](https://user-images.githubusercontent.com/14102747/52018360-c1c06900-24af-11e9-8e67-2ec20b66f7f1.png)

[2019-01-31 06:47] yancharkin commented on #38
@andrewschott Remove everything from _~/.games_nebula/images/goglib/_

[2019-01-31 12:25] andrewschott commented on #38
That fixed things.  All the games on my account now have official images.  Thanks!

[2019-01-31 20:38] yancharkin commented on #38
@andrewschott You are welcome.
Thanks to everyone for helping fix this issue (especially to @TSedlar).

[2019-01-31 20:38] #38 closed

[2019-02-23 21:49] aubade opened #41 "UI for alternate/configuration executables"
A number of games on GoG have separate configuration or alternate executables (For example, most of Falcom's Ys Games--Origin, I & II Chronicles, Oath in Felghana, Memories of Celceta, and Ark of Napishtim at least all have configuration utilities) and it'd be nice to be able to set Nebula up to be able to easily run them in the same wine prefix, or whatever other environment, as the game itself.

[2019-02-23 22:39] yancharkin commented on #41
It's possible to point GN to the configuration utility by adding its name to [autosetup.ini](https://github.com/yancharkin/games_nebula_goglib_scripts/blob/master/autosetup.ini)

To run an executable in the same wine prefix as the main exe you have to click two buttons:
![pic0](https://user-images.githubusercontent.com/12972830/53292505-57f85e00-37d4-11e9-8aaf-02d52cfb8b8b.png)
![pic1](https://use

[2019-02-23 22:45] aubade commented on #41
For Ys VI - The Ark of Napishtim, since it's the one inspiring the request:

ys6_win_dx9.exe
ys6_win.exe
config_dx9.exe
config.exe

(the ones without _dx9 are directx8 versions)

[2019-02-23 23:18] yancharkin commented on #41
OK. I'll take a look when I have some time.

[2019-02-24 17:28] yancharkin commented on #41
Done. Now you can select up to 4 alternative executables. Please test.
![pic1](https://user-images.githubusercontent.com/12972830/53302724-65642580-3872-11e9-9bae-c55b799a74d1.png)

[2019-02-24 17:53] aubade commented on #41
It's working brilliantly for me! Thank you so much.

[2019-02-24 18:36] yancharkin commented on #41
I'm glad to hear it.

[2019-02-24 18:36] #41 closed

[2019-05-05 00:40] PrimordialHelios opened #43 "Local variable 'tmp_app_files' referenced before assignment when installing Ultima"
---

**System:**
 - Distro: Fedora 29
 - gtk3 version: 3.24.1
 - python version 2.7.15 and 3.7.3
 - lgogdownloader version 3.5.d85d931
 - innoextract version 1.7
 - DE or WM KDE
 - DM SDDM

**Bug description**
Local variable 'tmp_app_files' referenced before assignment when installing Ultima.

Full traceback

[code]

**Steps to reproduce the behavior**
Install the original Ultima, get the crash. U

[2019-05-05 00:46] ghost commented on #43
This also happens on Ultima 2, Ultima 3, Ultimate DOOM, System Shock Enhanced, and I'm sure some others. So far it just seems to be DOS games, but only *some* DOS games. Dark Forces installed without issue.

[2019-05-05 01:00] ghost commented on #43
I created the directory manually and the installation "succeeded", but GN never actually ran the installer

[2019-05-05 01:20] ghost commented on #43
It looks like GN is looking for a directory structure that just... doesn't exist. This may be an issue with lgogdownloader, I'll try an older version.

[2019-05-05 07:55] yancharkin commented on #43
Looks like those games packed with a newer version of Inno Setup. innoextract (that used by GN for unpacking installers) currently supports installers created by Inno Setup 1.2.10 to 5.6.0. When trying to unpack 'System Shock Enhanced Edition' with it, I got: 'Warning: Unexpected setup data version: 5.6.2'. I'm almost sure that's the case with the other games, but it will be nice if you check (I d

[2019-05-05 10:23] ghost commented on #43
[code]

Alright, looks like I'll file a bug report with innoextract.

Thanks for the help!

[2019-05-05 10:39] yancharkin commented on #43
It seems it's already fixed: https://github.com/dscharrer/innoextract/issues/74

[2019-05-05 10:42] ghost commented on #43
Yup, just compiled innoextract@HEAD and it works fine.

Thanks again!

[2019-05-05 10:43] yancharkin commented on #43
You are welcome.

[2019-05-05 11:12] ghost commented on #43
Hmmm, just tried actually installing from GN and now I get a new traceback:

[code]

So it looks like it isn't *just* an innoextract issue

[2019-05-05 14:55] yancharkin commented on #43
Can you unpack installer with innoextact and tell me the content of the 'app' directory?

[2019-05-05 19:51] ghost commented on #43
[code]

[2019-05-06 12:22] yancharkin commented on #43
GOG changed the way they package their installers. I made some changes, hopefully, now GN should work fine.

[2019-05-06 14:38] ghost commented on #43
Fantastic, thank you so much!

Every game I mentioned not working now installs and runs fine, so it looks like that definitely fixed it :)

[2019-05-06 14:38] #43 closed

[2019-06-07 04:10] waltercool opened #44 "Q: Support automatically for DLC"
Hi,

Sorry to open a so related with https://github.com/yancharkin/games_nebula/issues/21 issue, but I think my question would be different.

First of all, congratulations for your project, is amazing! Please never make webkit a full dependency :+1:

Now, going directly to the point, there is some way to automatically support DLCs? I mean, without the custom scripts located at goglib? Maintaining

[2019-06-07 04:22] waltercool commented on #44
Something in my mind right now, could be a small interface doing: List all dlc containing a ${DLC_NAME}_${VERSION}.sh, and display ${DLC_NAME} with a install button for now.

If that format doesn't exist, skip for now.

[2019-06-07 07:18] yancharkin commented on #44
I'll look into it.

[2019-06-08 09:28] yancharkin commented on #44
Try ['dlc' branch](https://github.com/yancharkin/games_nebula/tree/dlc).

[2019-06-08 22:17] waltercool commented on #44
Many thanks!

Just tried today, the new option detects new DLC, but:
- Runs DLC installer, there is some possibility to install the DLC just like games_nebula installs the main game? Should be pointing to same path
- It detects non-installable DLC, like artbook/soundtrack/others, which aren't installable.

I'm not expert with pyGTK, but let me try something from my side.

[2019-06-09 06:57] yancharkin commented on #44
Well, it's easy to unpack DLC installer to the game directory (even fully automatically), but I'm not sure that will be enough. For example, DLC installers may have different directory structure and for Windows games, registry key often required.  I don't own any Linux games with DLC (and only one Windows game) so I can't check.
You can try to do something yourself, but GN code is a mess :)
Anothe

[2019-06-14 11:10] yancharkin commented on #44
Try ['dlc2' branch](https://github.com/yancharkin/games_nebula/tree/dlc2).

[2019-06-15 08:49] waltercool commented on #44
Hi,

Just tried and works great for Democracy 3 and Surviving Mars. Seems like you are automatically installing DLC instead of your previous branch.

Now, I got an error with Stellaris

[code]

[2019-06-15 12:11] yancharkin commented on #44
Now the error should be fixed.

[2019-06-16 06:47] waltercool commented on #44
Now it works great, just found another bug, when the game doesn't include DLC

[code]

I think adding a os.path.isdir should do it.

[2019-06-16 07:13] yancharkin commented on #44
Fixed.

[2019-06-16 08:45] waltercool commented on #44
I can confirm it works now!

Let me test the next days and give you any feedback I experience.

Many thanks!

[2019-06-26 07:45] yancharkin commented on #44
I made a few more changes and merged them into the master branch.

[2019-08-04 11:33] yancharkin commented on #44
Can you give me your feedback?
I believe that now automatic installation of DLC work both for native and windows games.

[2019-08-08 11:16] waltercool commented on #44
Yes, it works great! Many thanks!
Closing request.

[2019-08-08 11:16] #44 closed

[2020-01-09 08:11] hibes opened #45 "Detect Installed Games on Launch"
Description:

I copied over the games directory from another system that had this installed, but when I loaded up GN again, it is not away of the existing installed games and wants to re-download and re-install everything.

O/S: Linux

Steps to Reproduce:
Install GN
Launch GN
Install a game
Observe the presence of `Remove` and `Launch` buttons for the game you installed
Stop GN
Remove `$HOME/.game

[2020-01-09 08:14] hibes commented on #45
Never mind, this is user error on my part.

If you run into this and you changed your install directories, be sure to update the install directories in Settings to match your previous directories.

[2020-01-09 08:14] #45 closed

[2020-01-26 02:23] clort81 opened #46 "Blank GoG authorization screen with python 3 and current libraries."
Distro: devuan beowulf
gtk3 Version: 3.24.13-1
python3 Version: 3.7.5
lgogdownloader Version: 3.4
innoextract Version: 1.7-2+b1
DE: openbox
DM: none

**Bug description**
After clicking 'yes' to authorize on GOG, i get a blank screen for Games Nebula.

**Steps to reproduce the behavior**
git pull current git master, run setup.sh, do not select install inoextract,
run games_nebula.py from build dire

[2020-01-26 08:07] yancharkin commented on #46
First of all, you certainly have an issue with lgogdownloader. Even if you'll pass the authorization window, GN will be unusable without lgogdownloader. Try to update it to the latest version.

As for the black screen, it could be an issue with the graphics driver or with gir1.2-webkit2-4.0 package, try clicking on the black window with the right mouse button and select "Reload" in the menu. If it

[2020-03-04 05:56] yancharkin commented on #46
@clort81 Is it still an issue?

[2020-03-08 06:21] yancharkin commented on #46
@clort81 No response, closing.
Please, do not open an issue if you're not ready to cooperate, it takes time (in some cases a lot of time) to investigate what can cause the problem.

[2020-03-08 06:21] #46 closed

[2020-07-18 12:09] pan-mroku opened #47 "Error when running wine games using 'system' wine setting"
When I'm trying to run a game via wine and use 'system' setting I get:
[code]
The problem was setting WINE and WINELOADER to 'wine' instead of full path to binary.
I'll add a Pull Request soon.

[2020-07-18 17:55] #47 closed